#delete-button:hover {
    background-color: #ff0000;
}

#add-button:hover {
    background-color: #005f8a;
}

#type-get-label {
    background-color: #008800;
    border-radius: 15px;
}

#type-post-label {
    background-color: #007FFF;
    border-radius: 15px;
}

#type-delete-label {
    background-color: #E52B50;
    border-radius: 15px;
}

#type-put-label {
    background-color: #ffffff;
    border-radius: 15px;
}

#source-view {
    border-radius: 0px;
}